.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.env
test/unit/coverage
test-results/
target/
eslint-report.json
doc/
logs.log
log.log
log.logs
logs.logs
release
junit.xml
default-env.json